@{
    ViewData["Title"] = "Home Page";
}

<select class="form-select" aria-label="Default select example">
  <option selected>Seleccione el tipo de visita a recibir</option>
  <option value="1">Social</option>
  <option value="2">Servicios</option>
</select>