@using ProyectoFraccionamiento.Models
@model VehiculoModel


@{
    ViewData["Title"]="Editar Sucursal";
}

<h1 class="text-cennter">Edición de vehículo</h1>
<br><br>

<div asp-validation-summary="All" class="Text-danger"></div>

<form asp-controller="Vehiculos" asp-action="EditVehiculos">
    <div class="mb-3">
        <label asp-for="Marca" class="form-label">Marca del auto </label>
        <input type="text" class="form-control" asp-for="Marca" placeholder="Escriba la marca del automóvil" />
    </div>
    <div class="mb-3">
        <label asp-for="Modelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" asp-for="Modelo" placeholder="Escriba el modelo del automóvil" />
    </div>
    <div class="mb-3">
        <label asp-for="Owner" class="form-label">Dueño</label>
        <input type="text" class="form-control" asp-for="Owner" placeholder="Escriba el nombre del dueño del automóvil" />
    </div>
    <div class="mb-3">
        <label asp-for="Direccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" asp-for="Direccion" placeholder="Escriba la dirección del dueño" />
    </div>

    <div class="mb-3">
        <label asp-for="Placas" class="form-label">Placas</label>
        <input type="text" class="form-control" asp-for="Placas" placeholder="Escriba las placas del automóvil" />
    </div>


    <button type="submit" class="btn btn-primary">Guardar</button>

    <a asp-controller="Vehiculos" asp-action="VehiculosList" class="btn btn-secundary mb-3"> Regresar </a>

</form>