@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fraccionamiento</h1>
    <h1></h1>


<table class="table table-borderless">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a class="btn btn-outline-info" asp-action="VisitasList" asp-controller="Visitas"><img src="https://cdn-icons-png.flaticon.com/512/16/16094.png" width="150" height="150"></a></td>
      <td><a class="btn btn-outline-info" asp-action="VehiculosList" asp-controller="Vehiculos"><img src="https://cdn.icon-icons.com/icons2/2387/PNG/512/car_vehicle_transport_icon_144665.png" width="150" height="150"></a></td>
    </tr>
    <tr>
      <td><a class="btn btn-outline-info" asp-action="SocialAreaList" asp-controller="SocialArea"><img src="https://i.pinimg.com/474x/55/e0/76/55e07698bca8e4aa1761121600c818e0.jpg" width="150" height="150"></a></td>
      <td><a class="btn btn-outline-info" asp-action="VisitasList" asp-controller="Visitas"><img src="https://static.thenounproject.com/png/116251-200.png" width="150" height="150"></a></td>
    </tr>
  </tbody>
</table>